<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartelas de Bingo</title>
    <style>
        table {
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
        .destaque {
            background-color: yellow; /* Defina aqui o estilo de destaque desejado */
        }
    </style>
</head>
<body>
    <h1>Cartelas de Bingo</h1>
    {% for cartela in cartelas %}
        <h2>Cartela {{ cartela.pk }}</h2>
        <table class="numeros-cartela"> <!-- Adiciona a classe numeros-cartela à tabela -->
            <tr>
                <th>B</th><th>I</th><th>N</th><th>G</th><th>O</th>
            </tr>
            <tr>
                {% for numero in cartela.numeros_gerados %}
                    {% if forloop.counter0|divisibleby:5 and not forloop.first %}
                        </tr><tr>
                    {% endif %}
                    <!-- Adicione a verificação e a classe de destaque aqui -->
                    <td>{{ numero }}</td>
                {% endfor %}
            </tr>
        </table>
        <p>{{ cartela_kuadra }}</p>
        <p>{{ cartela_kina }}</p>
        <p>{{ cartela_keno }}</p>
    {% endfor %}
    <h2 id="numeros-sorteados">Números Sorteados</h2>
    <ul id="lista-numeros-sorteados"></ul>

    <script>
        {% comment %} function enviarNumeroSorteado(numerosSorteados) {
            var formData = new FormData();
            formData.append('numeros_sorteados[]', numerosSorteados);  // Certifique-se de que o nome do parâmetro corresponda ao usado na view
        
            fetch('/salvar_numeros_sorteados/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao salvar número sorteado');
                }
            })
            .catch(error => console.error(error));
        }
        
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        } {% endcomment %}
    
        function verificarNumerosSorteados(numerosSorteados) {
            var numerosCartelas = document.querySelectorAll('.numeros-cartela td');
            var intervalo = 1000; // Intervalo de 1 segundo
    
            var i = 0;
            var interval = setInterval(function () {
                if (i >= numerosSorteados.length) {
                    clearInterval(interval); // Interrompe o intervalo quando todos os números foram verificados
                    return;
                }
    
                var numeroAtual = numerosSorteados[i];
                for (var j = 0; j < numerosCartelas.length; j++) {
                    var numeroCartela = parseInt(numerosCartelas[j].innerText);
                    if (numeroCartela === numeroAtual) {
                        numerosCartelas[j].classList.add('destaque');
                    }
                }
                //enviarNumeroSorteado(numeroAtual);
                i++;
            }, intervalo);
        }

        function atualizarNumeros(numeros) {
            var ul = document.getElementById('lista-numeros-sorteados');
            ul.innerHTML = ''; // Limpa a lista antes de adicionar os novos números
    
            numeros.forEach(function (numero, index) {
                setTimeout(function () {
                    var li = document.createElement('li');
                    li.textContent = numero;
                    ul.appendChild(li);
                    verificarNumerosSorteados([numero]);
                }, index * 1000);
            });
        }
    
        //var csrftoken = getCookie('csrftoken');
        atualizarNumeros({{ numeros_sorteados }});
    </script>

</body>
</html>
